<!--blocks-->
<ion-view view-title="BLOCKS" class="blocks">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <a class="item item-icon-left item-badge-right" ng-repeat="block in blocks track by $index" href="#/app/blocks/{{ block.bid }}"> <!--item-toggle-->
        <i class="icon ion-android-options"></i>
        {{ block.label }}
        <span class="badge badge-balanced">{{ block.sActive }}</span>
        <!--
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="toggleSwitch($event)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        -->
      </a>
    </ion-list>
  </ion-content>
</ion-view>