<!--modal-add-user-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">ADD USER</h1>
    <div class="buttons">
      <button class="button button-clear close-modal" ng-click="closeAddUser()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addUser()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="nwUser.name" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" ng-model="nwUser.username" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Pin</span>
          <input type="text" ng-model="nwUser.pin" placeholder="">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add User</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>


